{% extends 'layout.html.twig' %}

{% block title %}
    Edition du ticket - n°{{ tickets.id }}
{% endblock %}


{% block body %}

    {{ form_start(edit_form) }}
    <div class="">

        <div class="left">
            <div class="m-bottom">
                <div class="m-bottom">
                    <div class="">
                        <p>Utilisateur :</p>
                        {% for user in userid %}
                            {{ user.username }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <span>--------------------------------------------------</span>
            </div>
            <div class="m-bottom">
                <div class="">
                    <p>localité du pc :</p>
                    {{ tickets.society }}
                </div>
            </div>
            <div>
                <span>--------------------------------------------------</span>
            </div>
            <div class="m-bottom">
                <div class="">
                    <p>Téléphone <span class="d-font">(154) </span>:</p>
                    {{ tickets.phone }}
                </div>
            </div>
        </div>

        <div class="right m-right">
            <div class="m-bottom">
                <div class="">
                    <p>Email :</p>
                    {% for user in userid %}
                        {{ user.email }}
                    {% endfor %}
                </div>
            </div>
            <div>
                <span>--------------------------------------------------</span>
            </div>
            <div class="m-bottom">
                <div class="">
                    <p class="center-align">Description de la panne :</p>
                    {{ tickets.comment }}
                </div>
            </div>
            <div>
                <span>--------------------------------------------------</span>
            </div>
        </div>

    </div>

    <div class="align-center">
        {{ form_widget(edit_form.treated, {'attr': {'id': 'demo-copy'}}) }}
        {{ form_label(edit_form.treated, 'Ticket traité', {'label_attr': {'for': 'demo-cop'}}) }}
        {{ form_errors(edit_form.treated) }}
    </div>

    <ul class="m-top align-center">
        <li>
            <input type="submit" value="Enregistrer" />
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
        </li>
        <li>
            <input type="submit" value="Supprimer" class="submit-color-del">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {{ form_end(edit_form) }}



    {#

    {{ form_start(edit_form) }}
    <div class="">

        <div class="left">
            <div class="m-bottom">
                <div class="">
                    <p>Poste :</p>
                    {{ form_widget(edit_form.society) }}
                    {{ form_errors(edit_form.society) }}
                </div>
            </div>
            <div class="m-bottom">
                <div class="">
                    <p>Nom et Prénom :</p>
                    {% for user in userid %}
                        {{ user.username }}
                    {% endfor %} <br />
                </div>
            </div>
            <div class="m-bottom">
                <div class="">
                    <p>Téléphone <span class="d-font">(01.02.03.04.05) </span>:</p>
                    {{ form_widget(edit_form.phone) }}
                    {{ form_errors(edit_form.phone) }}
                </div>
            </div>
        </div>

        <div class="right m-right">
            <div class="m-bottom">
                <div class="">
                    <p>Email :</p>
                    {{ form_widget(edit_form.email) }}
                    {{ form_errors(edit_form.email) }}
                </div>
            </div>
            <div class="m-bottom">
                <div class="">
                    <p class="center-align">Description de la panne :</p>
                    {{ form_widget(edit_form.comment) }}
                    {{ form_errors(edit_form.comment) }}
                </div>
            </div>
        </div>

    </div>

    <div class="">
        {{ form_widget(edit_form.treated, {'attr': {'id': 'demo-copy'}}) }}
        {{ form_label(edit_form.treated, 'Ticket traité', {'label_attr': {'for': 'demo-cop'}}) }}
        {{ form_errors(edit_form.treated) }}
    </div>

    <ul class="m-top align-center">
        <li>
            <input type="submit" value="Enregistrer" />
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
        </li>
        <li>
            <input type="submit" value="Supprimer" class="submit-color-del">
            {{ form_end(delete_form) }}
        </li>
    </ul>
#}
{% endblock %}
