{% extends 'layout.html.twig' %}

{% block title %}
    Nouveau ticket
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="">

        <div class="left">
            <div class="m-bottom">
                <div class="m-bottom">
                    <div class="">
                        <p>Utilisateur :</p>
                        {{ app.user.username }}
                    </div>
                </div>
            </div>
            <div>
                <span>--------------------------------------------------</span>
            </div>
            <div class="m-bottom">
                <div class="">
                    <p>localité du pc :</p>
                    {{ form_widget(form.society) }}
                    {{ form_errors(form.society) }}
                </div>
            </div>
            <div class="m-bottom">
                <div class="">
                    <p>Téléphone <span class="d-font">(154) </span>:</p>
                    {{ form_widget(form.phone) }}
                    {{ form_errors(form.phone) }}
                </div>
            </div>
        </div>

        <div class="right m-right">
            <div class="m-bottom">
                <div class="">
                    <p>Email :</p>
                    {{ app.user.email }}
                </div>
            </div>
            <div>
                <span>--------------------------------------------------</span>
            </div>
            <div class="m-bottom">
                <div class="">
                    <p class="center-align">Description de la panne :</p>
                    {{ form_widget(form.comment) }}
                    {{ form_errors(form.comment) }}
                </div>
            </div>
        </div>

    </div>
    <div class="m-top align-center">
        <input type="submit" value="Enregistrer" />
    </div>
    {{ form_end(form) }}

{% endblock %}
