{% extends 'layout.html.twig' %}

{% block title %}
    Nouveau ticket
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="row">
                    <div class="col s6 m3 l3">
                        <p>Société :</p>
                    </div>
                    <div class="col s6 m3 l9">
                        {{ form_widget(form.society, {'attr': {'class': 'input-effect'}}) }}
                        {{ form_errors(form.society) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m3 l3">
                        <p>Nom et Prénom :</p>
                    </div>
                    <div class="col s6 m3 l9">
                        {{ form_widget(form.user_name, {'attr': {'class': 'input-effect'}}) }}
                        {{ form_errors(form.user_name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m3 l3">
                        <p>Téléphone:</p>
                    </div>
                    <div class="col s6 m3 l9">
                        {{ form_widget(form.phone, {'attr': {'class': 'input-effect'}}) }}
                        {{ form_errors(form.phone) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m3 l3">
                        <p>Email :</p>
                    </div>
                    <div class="col s6 m3 l9">
                        {{ form_widget(form.email, {'attr': {'class': 'input-effect'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <p class="center-align">Commentaires :</p>
                        {{ form_widget(form.comment, {'attr': {'class': 'text-size'}}) }}
                        {{ form_errors(form.comment) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align">
            <input type="submit" value="Enregistrer" />
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
