{% extends 'layout.html.twig' %}

{% block title %}
   Ticket {{ ticket.id }}
{% endblock %}


{% block body %}

    <h1>Ticket - {{ ticket.id }}</h1>
    <h3>Déposé le :{% if ticket.date %}{{ ticket.date|date('d-m-Y') }}{% endif %} </h3>

    <table>
        <tbody>
            <tr>
                <th>Poste</th>
                <td>{{ ticket.society }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                {% for user in userid %}
                    <td>{{ user.username }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ ticket.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                {% for user in userid %}
                    <td>{{ user.email }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Description de la panne</th>
                <td>{{ ticket.comment }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
