{% extends 'base.html.twig' %}


{% block header %}

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="logo">
                {#<span class="icon fa-diamond"></span>#}
                <h1 class="icon-title">LALIQUE</h1>
            </div>
            <div class="content">
                <div class="inner">
                    <h1><a href="{{ path('homepage') }}">Maintenance ticket</a></h1>
                    <p>For each problem there is a solution</p>
                </div>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="{{ path('ticket_new') }}">Nouveau ticket</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('ticket_index') }}">Tickets en cours</a>
                        </li>
                        <li>
                            <a href="{{ path('treated_index') }}">Tickets traités</a>
                        </li>
                        <li>
                            <form action="{{ path('searchController') }}" method="Post" class="h-form">
                                <div class="">
                                    <input class="input-color" name="requete" id="search" type="search" required>
                                    <i class="material-icons h-button" id="search-burger">search</i>
                                </div>
                            </form>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}" class="button icon fa-chevron-down scrolly">Déconnexion</a>
                    </li>
                </ul>
            </nav>
        </header>

{% endblock %}

{% block footer %}

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright"><a href=""> &copy; - A propos</a><span> / </span><a href="https://www.linkedin.com/in/julien-grima-927612129/">Julien GRIMA</a> - <a href="https://html5up.net/">Html5up</a>.</p>
        </footer>

    </div>

<!-- BG -->
    <div id="bg"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('assets/js/util.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}