{% extends '@Calendar/layout.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h2 class="soustitrePage">Affichage de l'évènement</h2>
                    <h4 class="soustitrePage">{{ agenda.titre }}</h4>
                </div>
            </div>
        </div>

        <div class="container center">
            <div class="row">
                <div class="col s12">

                    <div class="calendar-responsive-table">
                        <div class="row calendar-row valign-wrapper">
                            <div class="col s12 m6 l6 calendar-td valign-wrapper">
                                <p class="calendar-p valign">Titre de l'évènement :</p>
                            </div>
                            <div class="col s12 m6 l6">
                                <p>{{ agenda.titre }}</p>
                            </div>
                        </div>
                        <div class="row calendar-row valign-wrapper">
                            <div class="col s12 m6 l6 calendar-td valign-wrapper">
                                <p class="calendar-p valign">Date et heure de début :</p>
                            </div>
                            <div class="col s12 m6 l6">
                                <p>{% if agenda.start %}{{ agenda.start|date('d-m-Y à H:i:s') }}{% endif %}</p>
                            </div>
                        </div>
                        <div class="row calendar-row valign-wrapper">
                            <div class="col s12 m6 l6 calendar-td valign-wrapper">
                                <p class="calendar-p valign">Date et heure de fin :</p>
                            </div>
                            <div class="col s12 m6 l6">
                                <p>{% if agenda.end %}{{ agenda.end|date('d-m-Y à H:i:s') }}{% endif %}</p>
                            </div>
                        </div>
                        <div class="row calendar-row valign-wrapper">
                            <div class="col s12 m6 l6 calendar-td valign-wrapper">
                                <p class="calendar-p valign">Description de l'évènement :</p>
                            </div>
                            <div class="col s12 m6 l6">
                                <p>{{ agenda.texte }}</p>
                            </div>
                        </div>
                        <div class="row calendar-row valign-wrapper">
                            <div class="col s12 m6 l6 calendar-td valign-wrapper">
                                <p class="calendar-p valign">Lieu de l'évènemen :</p>
                            </div>
                            <div class="col s12 m6 l6">
                                <p>{{ agenda.lieu }}</p>
                            </div>
                        </div>
                        <div class="row calendar-row valign-wrapper">
                            <div class="col s12 m6 l6 calendar-td valign-wrapper">
                                <p class="calendar-p valign">Couleur de l'évènement :</p>
                            </div>
                            <div class="col s12 m6 s6 valign-wrapper">
                                <div class="row">
                                    <div class="align">
                                        <div  style="background-color: {{ agenda.color }};" class="col s12 calendar-div-size valign-wrapper">
                                            <p class="center-align">{{ agenda.color }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row calendar-row valign-wrapper">
                            <div class="col s12 m6 l6 calendar-td valign-wrapper">
                                <p class="calendar-p valign">Mettre en avant :</p>
                            </div>
                            <div class="col s12 m6 l6">
                                <p class="calendar-p">{% if agenda.slider %}Evènement ajouté{% else %}Evènement non ajouté{% endif %}</p>
                            </div>
                        </div>

                        {% if agenda.media != null %}

                            <div class="row">
                                <div class="col s12 m6 l6 calendar-td valign-wrapper">
                                    <p class="calendar-p valign">Image du slider :</p>
                                </div>
                                <div class="col s12 m6 l6 center">
                                    <img class="show-image responsive-img" src="{{ asset(agenda.media.picpath) }}"  alt="{{ agenda.media.picname }}">
                                </div>
                            </div>

                        {% else %}

                        {% endif %}
                    </div>

                    <div class="center">
                        <a class="btn-floating btn-large waves-effect waves-light green darken-1 modal-action modal-close"
                           href="{{ path('agenda_edit', { 'id': agenda.id }) }}">
                            <i class="small material-icons">edit</i>
                        </a>

                        <a class="btn-floating btn-large waves-effect waves-light blue darken-1 modal-action modal-close"
                           href="{{ path('homepage') }}">
                            <i class="small material-icons">home</i>
                        </a>
                        <a href="{{ path('agenda_show_all') }}">
                            <button class=" btn-floating btn-large waves-effect tooltipped icon-background6" type="submit" name="action"
                                    data-position="bottom"
                                    data-delay="50"
                                    data-tooltip="Montrer tout">
                                <i class="material-icons">view_list</i>
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    {% else %}

        <div class="container">
            <div class="row center">
                <div class="col s12">
                    <img src="{{ asset('images/local/icons/warning-icon1.svg') }}" class="warning">
                </div>
                <div class="col s12">
                    <h2 class="center-align">La page Que vous recherchez n'existe pas</h2>
                </div>
            </div>

        </div>

    {% endif %}

{% endblock %}